
body {
    position: relative;
    /* min-width: 290px;  */
}
header {
    background: #5FBFCD;
    height: 42px;             
}
/* 顶部栏 */
.top-bar-sec {
    display: flex;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-70px);
    text-align: center;
    line-height: 31px;
}
.top-bar-h section {
    width: 70px;
    height: 32px;
    color: #FFF;
    border-radius: 5px;
    background: #54A7B2;
}
.top-sec2 {
    color: #5FBFCD !important;
    background: #FFF !important;
}
.top-img {
    width: 45px;
    height: 46px;
    background: url("./sprite.png") no-repeat;
    background-position: 0 -66px;
    transform: scale(0.5);/* 精灵图标缩小为自身的一半 */   
    position: absolute;
    top: -4px;
    right: 2px;
}
/* 下拉菜单栏 */
.menu-select {
    margin-top: 42px;
    display: flex;
}
.select{
    padding: 0;
}
.select select {
    border: none;
    border-right: 1px solid #eee;
    border-bottom: 0.5px solid #eee;
    color: #999;
    width: 100%; 
    height: 36px;
    text-align-last: center;
}
@media (max-width: 992px) {
    .select  {                  
        width: 100%; 
        height: 36px;
    }
}
/* 内容区 */
.content-m {
    width: 100%;
    margin: 78px 0 0 0;
    padding: 0 0;
}
.content-m span {
    color: #999;
    font-size: 12px;
}
.content-m h4 {
    color: #EC6B4A;
    font-size: 16px;
    letter-spacing: 1px;
}
.date-img {
    width: 26px;
    height: 28px;
    display: inline-block;
    background: url("./sprite.png") no-repeat;
    background-position: 0 -312px;
    transform: scale(0.6);
    vertical-align: middle;
}
.local-img {
    width: 24px;
    height: 27px;
    display: inline-block;
    background: url("./sprite.png") no-repeat;
    background-position: 2px -353px;
    transform: scale(0.5);
    vertical-align: middle;
}
        
    .right-img:after {            
        content: '';            
        display: block;            
        width: 12px;            
        height: 12px;            
        border-right: 2px solid #5FBFCD;           
        border-top: 2px solid #5FBFCD;            
        -webkit-transform: rotate(45deg);
         /*箭头方向可以自由切换角度*/            
        transform: rotate(45deg);
        margin: -42px 142px 0;   
}
.content-m h4 {
    display: inline-block;
    padding-right: 38px;
}

.content-m h5 {
    margin: 0;
    height: 16px;
    padding-left: 30px;
    font-weight: 600;
    display: inline-block;
}

.content-m > div {
    width: 100%;
    height: 90px;
    border-bottom: 0.5px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.row-l {
    height: 70px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.row-r {
    height: 70px;
    width: 180px;
    text-align: right;
    line-height: 70px;
}
/* 底部 */
.f-bottom-bar {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #F7F9FB;
    justify-content: space-between;
}
/* 图片样式统一 */
footer span {
    width: 49px;
    height: 46px;
    display: inline-block;
    background-image: url("./sprite.png");
    transform: scale(0.5);
}
/* 字体风格统一 */
footer .f-home, .f-main, .f-user {
    width: 50px;
    height: 50px;
    text-align: center;
}
footer p {
    font-size: 1px;
    margin-top: -14px;
}
footer .f-home {  
    color: #54A7B2;
    margin-left: 10%;
}
footer .f-home p {
    margin-left: 1px;
}
footer .home-img { 
    background-position: 0 -231px;   
    margin-top: -6px;
}
footer .f-main {
    border-radius: 50%;
    background: #5FBFCD;
}
footer .note-img {
    margin-left: 2px;
}
footer .user-img {
    margin-top: -6px;
    background-position: 0 -151px;
}
.f-user {
    margin-right: 10%;
    color: #999;
}