*{
    margin: 0;
    padding: 0;
}
.box {
    margin: 15px 15px 20px 20px ;
}
.box span {
    display: block;
    width: 33%;
    padding-top: 31%;
    background: #FFA600;
    border: 1px solid #FFF;
    border-radius: 10px;
    box-sizing: border-box;
}
.row-1,
.row-2,
.row-3 {
    display: flex;
}
span {
    margin: 3px;
}
