/* 初始化 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
body {
    background: #EFF0F4;
}

/* 顶部栏 */
.header {
    height: 46px;
    background: #5FBFCD;
    color: #FFF;
    margin-bottom: 10px;
    line-height: 40px;
    position: relative;
}
.header span {
    position: absolute;
}
.close-l {
    left: 20px;
}
.login-m {
    left: 50%; /* 向左位移水平居中 */
    transform: translateX(-50%); /* 过渡移动自身宽度一半 */
}
.sign-r {
    right: 20px;
}

/* 表单 */
.getForm {
    position: relative;
}
.getForm input[type] {
    border: none;
    width: 100%;
    font-size: 18px;
}
.line-one {
    display: block;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.1);
    top: 2px;
    left: 55px;
    position: absolute;
}
.line-two {
    display: block;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.1);
    top: 60px;
    left: 55px;
    position: absolute;
}
/* 占位符字体修改 */
input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    font-size: 18px;
}
.getForm input[type] {  
    display: block;
    height: 50px;
    margin-top: 8px;
}
.input-pn { 
    background: #FFF url("iphone.png") 30px no-repeat;
    background-size: 15px;
    padding-left: 96px;
}
.input-pw {
    background: #FFF url("locked.png") 30px no-repeat;
    background-size: 15px;
    padding-left: 96px;
}
.getForm input:last-child {
    height: 50px;
    font-size: 16px;
    color: #FFF;
    background: #5FBFCD;
    margin: 30px 0 10px;
}
/* 忘记密码链接 */
.forget {
    color: #5FBFCD;
    float: right;
    margin-right: 20px;
}
