        /* 清除浏览器默认格式 */
        * {
            margin: 0;
            padding: 0;
        }
        html {
            font-size: 10px;
            min-width: 320px;   /* 设置最小缩放：防止变形 */
            background: #68cdd5;
            color: #FFF;
        }
        .back {
            margin: 2rem 0 0 2rem ;
            height: 6rem;
        }
        .logo img {
            width: 20rem;
        }
        .logo {    
            height: 10rem;
            text-align: center;
            padding-right: 4rem ;
            padding-top: 2rem;
        }
        .content {
            height: 20rem;
            box-sizing: border-box; /* 防止盒子变形 */
            text-align: center;
            margin: 8rem 0 18rem;
        }
        .content p {
            padding: 0 8rem;
            display: inline-block;  /* 将块级元素转换为行内块元素，让盒子自适应内容宽高，再让内容水平居中 */
            text-align: left;
            line-height: 1.8;
            font-size: 3.5rem;
            letter-spacing: 2px;     
        }
        .left p,
        .right p {
            font-size: 2.2rem;
            text-align: left;
            padding-top: 5px;
        }
        .left {
            float: left;
            margin-left: 9rem;
        }
        .right {
            float: right;
            margin-right: 9rem;
        }
        .foot img
         {
            width: 8rem;
        }